#canvas {
    position: absolute;
}

#form {
    float: right;
    right: 0px;
    width: 300px;
    padding: 10px;
}

#canvas_container {
    border: 1px black solid;
    width: 500px;
    height: 500px;
    margin: 10px;
    /* padding: 10px; */
}